/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"); */
@import url("https://fonts.googleapis.com/css?family=PT+Sans|Pacifico");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

li {
  cursor: pointer;
}

.site-nav {
  background: url(https://uploads.codesandbox.io/uploads/user/0e04c500-acae-46eb-94c9-487a92ae8cfa/1gIB-box-dog-header.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -100px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  padding: 1em;
  width: 100%;
  z-index: 1;
}
.site-nav ul {
  color: rgb(10, 10, 10);
  list-style-type: none;
  padding: 0;
  position: relative;
  width: 25%;
  z-index: 2;
}
.site-nav ul li {
  /* display: inline-block; */
  font-family: "PT Sans", sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
  position: relative;
  margin: 0.25em 0 0.25em 2em;
  transition: all 0.4s;
  vertical-align: middle;
  z-index: 5;
}
.site-nav ul li:hover {
  color: #fcfcfc;
}
.site-nav ul li:hover::after {
  opacity: 1;
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  width: 100%;
}

.site-nav ul li::after {
  background: rgba(10, 10, 10, 0.8);
  content: "";
  opacity: 0;
  position: absolute;
  top: -50px;
  left: 0;
  height: 100%;
  transition: all 0.4s;
  width: 0;
  z-index: -1;

  transform: rotate(-3deg);
}
.site-nav .site-logo {
  margin-left: 1em;
  /* color: white; */
}
.site-nav .site-logo:after {
  display: none;
}
.site-nav .site-logo i {
  font-size: 3em;
  margin-bottom: 0.25em;
}
.site-nav .site-logo p {
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  margin: 0;
  position: relative;
  top: -30px;
  transform: rotate(-4deg);
}
#categories {
  width: 100%;
}
#categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
#categories ul li {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fcfcfc;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  height: 20%;
  list-style-type: none;
  margin: 0.25em;
  min-width: 180px;
  padding: 0.25em;
  position: relative;
  width: 18%;

  transition: all 0.4s ease;
}
#categories ul li::after {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  transition: all 0.4s ease;
}
/* #categories ul li:hover {
  width: 19%;
}
#categories ul li:hover h3 {
  transform: scale(1.1);
  transition: all 0.4s;
} */
#categories ul li:hover::after {
  height: 100%;
}
#categories ul li img {
  display: block;
  width: 100%;
  z-index: 1;
}
#categories ul li h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 3;
}
#listings ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
#listings ul li {
  background: #fcfcfc;
  border-radius: 3px;
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.5);
  font-family: "PT Sans", sans-serif;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
  width: 250px;
}
#listings ul li h3 {
  position: relative;
}
#listings ul li h3::after {
  border-bottom: solid 0.5px rgb(10, 10, 10);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
}
#listings ul li img {
  border-radius: 3px;
  display: block;
  width: 100%;
}

#listings ul li .product-description {
  margin-bottom: 2em;
}

#listings ul li button,
.cart-checkout {
  background: rgb(10, 10, 10);
  border-radius: 3px;
  color: #fcfcfc;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#listings ul li .price {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#listings ul li button:focus,
#listings ul li button:active {
  outline: none;
}

/* #listings ul li footer {
  border-top: solid 1px rgb(10, 10, 10);
  margin-bottom: 2em;
} */
#cart {
  font-family: "PT Sans", sans-serif;
  background: #fcfcfc;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  /* height: 50%; */
  z-index: 100;

  transition: all 0.3s;
}
#cart .cart-header {
  background: rgb(10, 10, 10);
  color: #fcfcfc;
  display: flex;
  align-items: center;
}
#cart .cart-header > p,
#cart .cart-header > i,
#cart .cart-header > div {
  margin-left: 0.25em;
  text-align: center;
}
#cart ul li > div {
  flex: 1;
  text-align: center;
}
#cart ul {
  list-style-type: none;
  padding: 0;
}
#cart ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}
#cart ul li {
  align-items: center;
  border-bottom: solid 1px rgb(10, 10, 10);
  display: flex;
}
#cart ul li .cart-thumb {
  margin: 0.5em;
  min-width: 80px;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 5%;
}
#cart ul li .cart-thumb img {
  display: block;
  width: 100%;
}
#cart ul li .cart-item-price {
  font-size: 1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}
#cart ul li p {
  font-size: 1.5em;
  margin-right: 1em;
}
#cart ul li input {
  border: solid 2px rgb(10, 10, 10);
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  width: 77%;
}
#cart ul li .quantity {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}
#cart .cart-total {
  bottom: 8px;
  font-weight: 900;
  left: 10px;
  position: absolute;
  text-transform: uppercase;
}

#cart ul,
#cart footer {
  display: none;
}
#cart:hover {
  width: 30%;
}
#cart:hover > ul,
#cart:hover > ul > footer {
  display: flex;
}
#root {
}
